* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
}

form h1 {
    padding: 20px;
    margin-top: 10px ;
    background-color: lightslategray;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

.head a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin-left: 20px;

}

.head{
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 13vh;
}

.logo h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }

.contact-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

button {
    padding: 12px;
    background-color: lightslategray;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
    margin: 0 10px;
}
p{
    margin-top: 20px;
}

.nav a:hover{
    color: white;
}

footer img {
    transition: transform 0.2s ease;
  }
  footer img:hover {
    transform: scale(1.1);
  }

  @media (max-width: 500px) {
    .nav {
      display: block;
      flex-direction: column;
      background: linear-gradient(135deg, #f39c12, #e74c3c);
      position: absolute;
      top: 60px;
      right: 20px;
    }
}